{% extends 'layout.html' %}
{% block title %}Diagnostic{% endblock %}
{% block body %}



<p style="margin-top: 100px; background-color: white;"><strong>Safety</strong><br>
    Infection prevention
    Expand the concurrent antibiotic stewardship program system wide
    Continue and expand Central Line Acquired Bloodstream reduction initiatives in UH Seidman Cancer Center
    Reduction of preventable complications/harm
    Reduce hospital-wide all cause readmission rates system-wide by 5 percent
    Reduce Sickle Cell readmission rate by 15 percent
    Meet or exceed core measure MIP goal
    Redesign procedure transport process to improve patient safety
    Medication Safety
    Implement four new system medication policies
    Activate four medication therapeutic substitutions system wide
    Add standardized EMR pharmacist documentation
    Perform bedside bar-coding FMEA
    Achieve 90 percent Alaris drug library use
    Comprehensive chemotherapy safety</p>


    <p style="margin-top: 100px; background-color: white;"><strong>Medical care</strong><br>
        1.
To provide high quality specialized medical care and promote collaboration with local healthcare institutions as a core medical institution of Yamaguchi Prefecture.
2.
To practice collaborative multidisciplinary health care involving a range of health professionals.
3.
To practice and promote highly-advanced medical treatments.
4.
To strengthen infection countermeasures.</p>


{% endblock %}
